---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import BlogCard from "../../components/BlogCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <!-- <div className="inline-grid w-full sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4"> -->
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main {
        display: flex;
        justify-content: center;
      }
      .section {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 900px) {
        .section {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media (max-width: 640px) {
        .section {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section class="section">
        {posts.map((post) => <BlogCard post={post} />)}
      </section>
    </main>
    <Footer />
  </body>
</html>
