/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --accent: #ff4c57;
  --primary: 22, 25, 35;
  --background_color: 255, 255, 255;

  /* Background Colors */
  --tag-bg-golang: #00add840;
  --tag-bg-react: #61dafb40;
  --tag-bg-javascript: #f1dc5440;
  --tag-bg-nextjs: #00000040;
  --tag-bg-typescript: #3178c640;
  --tag-bg-docker: #1d63ed40;
  --tag-bg-aws: #ff990040;
  --tag-bg-rust: #f34c240;
  --tag-bg-prisma: #21273340;
  --tag-bg-tailwindcss: #43c0cd40;
  --tag-bg-mondodb: #52ac4640;
  --tag-bg-kumaui: #a0c6f240;

  /* Foreground Colors */
  --tag-fg-golang: #00add8;
  --tag-fg-react: #61dafb;
  --tag-fg-javascript: #f1dc54;
  --tag-fg-nextjs: #ffffff;
  --tag-fg-typescript: #3178c6;
  --tag-fg-docker: #1d63ed;
  --tag-fg-aws: #ff9900;
  --tag-fg-rust: #f34c24;
  --tag-fg-prisma: #ffffff;
  --tag-fg-tailwindcss: #43c0cd;
  --tag-fg-mondodb: #52ac46;
  --tag-fg-kumaui: #a0c6f2;
}

.dark {
  --primary: 254, 254, 254;
  --background_color: 1, 1, 1;

  /* Background Colors (Dark Mode) */
  --tag-bg-nextjs: #ffffff40;

  /* Forground Colors (Dark Mode) */

  --tag-fg-nextjs: #000000;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background: rgb(var(--background_color));
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--primary));
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
}

.tags {
  margin: 0.5em 0;
}
.tag {
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.875em;
  margin-right: 0.5em;
  line-height: 16px;
}

.tag[data-tag="Go"] {
  background-color: var(--tag-bg-golang);
  color: var(--tag-fg-golang);
}
.tag[data-tag="React"] {
  background-color: var(--tag-bg-react);
  color: var(--tag-fg-react);
}
.tag[data-tag="Javascript"] {
  background-color: var(--tag-bg-javascript);
  color: var(--tag-fg-javascript);
}
.tag[data-tag="Next Js"] {
  background-color: var(--tag-bg-nextjs);
  color: var(--tag-fg-nextjs);
}
.tag[data-tag="Tailwind CSS"] {
  background-color: var(--tag-bg-tailwindcss);
  color: var(--tag-fg-tailwindcss);
}
.tag[data-tag="Kuma UI"] {
  background-color: var(--tag-bg-kumaui);
  color: var(--tag-fg-kumaui);
}
.tag[data-tag="MongoDB"] {
  background-color: var(--tag-bg-mondodb);
  color: var(--tag-fg-mondodb);
}
.tag[data-tag="Prisma"] {
  background-color: var(--tag-bg-prisma);
  color: var(--tag-fg-prisma);
}
.tag[data-tag="Typescript"] {
  background-color: var(--tag-bg-typescript);
  color: var(--tag-fg-typescript);
}
.tag[data-tag="Docker"] {
  background-color: var(--tag-bg-docker);
  color: var(--tag-fg-docker);
}
.tag[data-tag="Aws"] {
  background-color: var(--tag-bg-aws);
  color: var(--tag-fg-aws);
}
.tag[data-tag="Rust"] {
  background-color: var(--tag-bg-rust);
  color: var(--tag-fg-rust);
}

button {
  font-family: inherit;
}

main {
  width: 960px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0.5rem 0;
  color: rgb(var(--primary));
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
  color: var(--accent);
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 5px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}

@media (max-width: 720px) {
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
