---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <img src="/maheshodedara.png" alt="Myself" />
  <p>
    Hey there! I'm Mahesh Odedara, a full-stack developer with a love for
    crafting clean and efficient code. I like learning new technlogies and build
    web applications, as well as CLI tools. I love working in terminal with my
    workflow set up with tmux and neovim.
  </p>
  <p>
    Outside of programming, I'm an avid consumer of stories. Whether it's diving
    into the pages of light novels and manga or indulging in anime, movies, and
    other narrative mediums, I have a deep appreciation for storytelling in all
    its forms. Additionally, I enjoy spending time playing Minecraft, building
    and exploring in its virtual world, and honing my strategic skills through
    games of chess on <a href="https://chess.com/member/mahesh_odedara"
      >chess.com</a
    >.
  </p>
  <p>
    I'm curretnly learning Go programming language and building a
    <a href="https://github.com/mahesh=143/chatworks"> discord clone </a>. I'm
    documenting every step on my blog, where you can follow along with my
    progress. Check it out <a href="/blog">here!</a>
  </p>
  <h2>Technologies & Tools</h2>
  <ul>
    <li>Languages: HTML, CSS, Javascript, Typescript, Go(learning)</li>
    <li>frontend: tailwind css, react js, next js</li>
    <li>Backend: Express JS, Prisma, Socket.IO</li>
    <li>Database: Postgres, MySQL, MongoDB</li>
    <li>Other: Neovim, Tmux, Docker</li>
  </ul>
  <h2>Find Me on</h2>
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/mahesh-odedara-392257239/"
        target="_blank"
      >
        Linkedin
      </a>
      <li>
        <a href="https://www.x.com/maheshuseslinux" target="_blank"
          >X (formerly Twitter)</a
        >
      </li>
      <li>
        <a href="https://github.com/mahesh-143" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://maheshcodes.hashnode.dev" target="_blank">Hashnode</a>
      </li>
      <li>
        <a href="https://maheshodedara.medium.com" target="_blank">Medium</a>
      </li>
    </li>
  </ul>
</Layout>
