---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("November 27 2002")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hey there! I'm Mahesh Odedara, <strong>a full-stack developer</strong> based
    in <strong>Gujarat, India</strong> with a love for crafting clean and efficient
    code. I like learning new technlogies and build web applications, as well as
    CLI tools. I love working in terminal with my workflow set up with tmux and neovim.
  </p>
  <p>
    Outside of programming, I'm an avid consumer of stories. Whether it's
    reading light novels and manga or watching anime, movies, and web shows, I
    have a deep appreciation for storytelling in all its forms. Additionally, I
    enjoy spending time playing Minecraft and <a
      href="https://chess.com/member/mahesh_odedara">Chess</a
    >.
  </p>
  <p>
    I'm curretnly learning Go programming language and building a
    <a href="https://github.com/mahesh=143/chatworks"> discord clone </a>. I'm
    documenting every step on my blog, where you can follow along with my
    progress. Check it out <a href="/blog">here!</a>
  </p>
  <h2>Technologies & Tools</h2>
  <ul>
    <li>Languages: HTML, CSS, Javascript, Typescript, Go(learning)</li>
    <li>Frontend: Tailwind CSS, React Js, Next Js</li>
    <li>Backend: Express JS, Prisma, Socket.IO</li>
    <li>Database: Postgres, MySQL, MongoDB</li>
    <li>Other: Neovim, Tmux, Docker</li>
  </ul>
  <h2>Find Me on</h2>
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/mahesh-odedara-392257239/"
        target="_blank"
      >
        Linkedin
      </a>
      <li>
        <a href="https://www.x.com/maheshuseslinux" target="_blank"
          >X (formerly Twitter)</a
        >
      </li>
      <li>
        <a href="https://github.com/mahesh-143" target="_blank">Github</a>
      </li>
      <li>
        <a href="https://maheshcodes.hashnode.dev" target="_blank">Hashnode</a>
      </li>
      <li>
        <a href="https://maheshodedara.medium.com" target="_blank">Medium</a>
      </li>
    </li>
  </ul>
</Layout>
