---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SocialLinks from "../components/SocialLinks.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BlogCard from "../components/BlogCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const projects = (await getCollection("project"))
  .map((project) => project)
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 class="headline">Hi there, I’m Mahesh</h1>
      <p class="sub-headline">
        A full-stack developer based in Gujarat, India. Currently working on a
        <a href="https://github.com/mahesh-143">discord clone.</a> follow the process
        through <a href="blog/">my blog.</a>
      </p>
      <SocialLinks />
      <section class="section">
        <h2>Projects</h2>
        <div class="section--container">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </section>
      <section class="section">
        <h2>Articles</h2>
        <div class="section--container">
          {posts.map((post) => <BlogCard post={post} />)}
        </div>
      </section>
    </main>
    <Footer />
    <style>
      .sub-headline {
        max-width: 476px;
      }
      .section {
        margin-top: 4em;
      }
      .section--container {
        display: flex;
        flex-wrap: wrap;
        gap: 2.375em;
        justify-content: center;
      }
      .section > h2 {
        margin-bottom: 1em;
      }
    </style>
  </body>
</html>
