---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SocialLinks from "../components/SocialLinks.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BlogCard from "../components/BlogCard.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

const projects = (await getCollection("project"))
  .map((project) => project)
  .slice(0, 3);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1 class="headline">Hi there, I’m Mahesh Odedara</h1>
      <p class="sub-headline">
        A full-stack developer based in Gujarat, India. Currently working on a
        <a href="https://github.com/mahesh-143/chatwork">discord clone.</a> follow
        the process through <a href="blog/">my blog.</a>
      </p>
      <SocialLinks />
      <section class="section">
        <div class="section--header">
          <h2 class="section--title">Latest Articles</h2>
          <a href="blog/">View More &rarr;</a>
        </div>
        <div class="section--container">
          {posts.map((post) => <BlogCard post={post} />)}
        </div>
      </section>
      <section class="section">
        <div class="section--header">
          <h2 class="section--title">Projects</h2>
          <a href="https://github.com/mahesh-143">View More on Github &rarr;</a>
        </div>
        <div class="section--container">
          {projects.map((project) => <ProjectCard project={project} />)}
        </div>
      </section>
    </main>
    <Footer />
    <style>
      .sub-headline {
        max-width: 476px;
      }
      .section {
        margin-top: 4em;
      }
      .section--header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
      }
      .section--header > a {
        color: rgb(var(--primary), 0.7);
        text-decoration: none;
        font-size: 0.875em;
      }
      .section--header > a:hover {
        color: var(--accent);
      }
      .section--container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.375em;
        justify-content: center;
      }
      .section--title {
        font-size: 1.5em;
      }
      @media (max-width: 940px) {
        .section--container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
      @media (max-width: 640px) {
        .section--container {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    </style>
  </body>
</html>
