---
import { Icon } from "astro-icon/components";

const { project } = Astro.props;
---

<div class="project">
  <a href={`/project/${project.slug}`}>
    <img width={280} height={184} src={project.data.heroImage} />
  </a>
  <div class="project--info">
    <h3 class="project--title">{project.data.title}</h3>
    <p class="project--desc">
      {project.data.description}
    </p>
  </div>
  <style>
    h3,
    p {
      padding: 0;
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    .project {
      border-radius: 5px;
      width: 280px;
      border: 1px solid rgba(var(--black), 0.2);
    }
    .button {
      border: 1px solid rgba(var(--black), 0.2);
      border-radius: 5px;
      font-weight: 600;
      padding: 1em;
      cursor: pointer;
    }
    .button:hover {
      opacity: 0.5;
    }
    .button--primary {
      color: rgb(var(--white));
      background-color: rgb(var(--black));
    }
    .button--secondary {
      color: rgb(var(--black));
      background-color: rgb(var(--white));
    }
    .project--info {
      padding: 1em;
    }
  </style>
</div>
