---
import { Icon } from "astro-icon/components";
---

<div class="social-links">
  <a href="https://github.com/mahesh-143" target="_blank">
    <span class="sr-only">Go to Mahesh's GitHub</span>
    <Icon name="bi:github" />
  </a>
  <a href="https://x.com/maheshuseslinux" target="_blank">
    <span class="sr-only">Follow Mahesh on Twitter</span>
    <Icon name="bi:twitter" />
  </a>
  <a
    href="https://www.linkedin.com/in/mahesh-odedara-392257239/"
    target="_blank"
  >
    <span class="sr-only">Connect with Mahesh on Linkedin</span>
    <Icon name="bi:linkedin" />
  </a>
  <a
    href="mailto:maheshodedara13@yahoo.com?subject=FromPortfolio&body=message%20goes%20here"
  >
    <Icon name="bi:envelope-fill" />
  </a>
</div>

<style>
  .social-links {
    display: flex;
    gap: 0.5em;
    margin-top: 1em;
  }

  .social-links a {
    text-decoration: none;
    color: rgb(var(--primary));
  }
  .social-links a:hover {
    opacity: 0.5;
  }
  [data-icon] {
    font-size: 1.3rem;
    color: rgb(var(--primary));
  }
</style>
